CompileFlags:
  Remove:
    - "-mcpu=*"
    - "-flto*"
    - "-Ofast"
    - "-fomit-frame-pointer"

Diagnostics:
  Suppress:
    - "-Wunused-*"

---

If:
  PathMatch: .*\.(cpp|cxx|cc|hpp|hxx)

CompileFlags:
  Add:
    - "-std=c++17"
